header {
  background-color: $darkBlue;
  border-radius: 0.75rem;
  .user-tag,
  .options {
    padding: 2rem;
    border-radius: 0.75rem;
    display: flex;
    @include breakpoint-up(medium) {
      flex-direction: column;
    }
  }
  .user-tag {
    background-color: $mainBlue;
    align-items: center;
    @include breakpoint-up(medium) {
      align-items: flex-start;
    }
    .user-info {
      color: $base;
      @include breakpoint-up(medium) {
        margin-top: 1rem;
      }
      h1 {
        @include breakpoint-up(large) {
          inline-size: min-content;
        }
      }
      p {
        font-size: 15px;
        color: $paleBlue;
      }
    }
    .user-img {
      background-image: url("/images/image-jeremy.png");
      background-position: center;
      background-size: contain;
      width: 4rem;
      height: 4rem;
      border-radius: 5rem;
      margin-right: 1rem;
      border: 3px solid $base;
    }
  }
  .options {
    flex-direction: row;
    justify-content: space-between;
    @include breakpoint-up(medium) {
      flex-direction: column;
    }
    .option {
      @include breakpoint-up(medium) {
        margin-bottom: 1rem;
      }
      a {
        transition: ease 0.3s;
        color: $desatBlue;
        text-decoration: none;
      }
      &.open {
        a {
          color: $base;
        }
      }
    }
  }
}
